<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Página Inicial do CRAS</title>
	<link rel="stylesheet" href="/css/success-cras.css">
</head>

<body>
	<div class="navbar">
		<img src="/images/logolivre.PNG" class="navbar-logo">
		<div class="btn-container">
			<button id="btn-informacoes" class="btn-cadastrar" onclick="toggleInformacoes()">Meus Dados</button>
			<button class="btn-cadastrar btn-logout" onclick="logout()">Logout</button>
		</div>
	</div>

	<div class="container">
		<div class="form-content">
			<h2 class="form-title">Olá, <span th:text="${cras.nome}">CRAS _</span>!</h2>
		</div>

		<div class="card-container">
			<div class="card">
				<h3>Cadastrar Pessoa</h3>
				<p>Clique aqui para cadastrar uma nova pessoa.</p>
				<button onclick="cadastrarPessoaComDeficienciaCRAS()">Cadastrar</button>
			</div>
			<div class="card">
				<h3>Visualizar Pessoas Cadastradas</h3>
				<p>Veja a lista de pessoas cadastradas pelo seu CRAS.</p>
				<button onclick="visualizarPessoasCadastradasCRAS()">Visualizar</button>
			</div>
		</div>
	</div>

	<div id="informacoes" class="informacoes">
		<div>
			<label>Nome: <span th:text="${cras.nome}">Nome do CRAS</span></label>
		</div>
		<div>
			<label>Tipo: <span th:text="${cras.tipo}">Tipo do CRAS</span></label>
		</div>
		<div>
			<label>Email: <span th:text="${cras.email}">Email do CRAS</span></label>
		</div>
		<div>
			<label>Contato: <span th:text="${cras.contato}">Telefone do CRAS</span></label>
		</div>
		<div class="btn-container">
			<a onclick="alterarSenha()">Alterar Senha</a>
		</div>
		<div class="btn-container">
			<a onclick="alterarDados()">Alterar Dados</a>
		</div>

	</div>




	<script>
		function toggleInformacoes() {
			var infoDiv = document.getElementById('informacoes');
			var btnInformacoes = document.getElementById('btn-informacoes');
			var rect = btnInformacoes.getBoundingClientRect();
			infoDiv.style.top = (rect.bottom + window.scrollY + 20) + 'px'; // Adiciona 20px de espaço
			infoDiv.style.left = rect.left + 'px';

			if (infoDiv.style.display === 'none' || infoDiv.style.display === '') {
				infoDiv.style.display = 'block';
			} else {
				infoDiv.style.display = 'none';
			}
		}

		function alterarSenha() {
			window.location.href = "/alterar-senha";
		}

		function alterarDados() {
			window.location.href = "/alterar-dados";
		}

		function cadastrarPessoaComDeficienciaCRAS() {
			window.location.href = "/cadastrar-pessoa-deficiencia-cras"; // Atualize para a URL correta
		}

		function visualizarPessoasCadastradasCRAS() {
			window.location.href = "/visualizar-pessoas-cadastradas-cras"; // Atualize para a URL correta
		}

		function logout() {
			window.location.href = "/sessao-encerrada";
		}
	</script>
</body>

</html>