@import url('https://fonts.googleapis.com/css2?family=Museo+Moderno:wght@400;700&display=swap');

body {
    font-family: 'Museo Moderno', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5; /* Cor de fundo suave */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h1 {
    font-family: 'Museo Moderno', sans-serif;
    font-weight: bold;
    color: #4c0080; /* Cor roxa */
    font-size: 36px;
    margin-bottom: 20px;
}

.info-section {
    width: 100%;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.info-section strong {
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn-container button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 30px; /* Bordas arredondadas */
    cursor: pointer;
    background: linear-gradient(to right, #A682ED, #00BF63); /* Gradiente conforme imagem */
    transition: opacity 0.3s;
}

.btn-container button:hover {
    opacity: 0.8; /* Efeito hover */
}
